<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">add to the tale</div>
      <div class="intro-lead-in">Word Of Mouth</div>
      <a href="#about" class="btn btn-default header-button">What is this?</a>
    </div>
  </div>
</header>

<div class="container" id="content">
  <div class="col-md-12">
    <div class="previous">
      <div id="referred-from">You heard from <%=@user_display.referrer_name%></div>

      <div id="story-so-far">
        <%@user_display.story.each do |element|%>
          <p><%=element%></p>
        <% end %>
      </div>
    </div>
  </div>

  <%= bootstrap_form_for :user do |field| %>

    <div class="col-md-12">
      <p>
        <%= field.text_field :tale %>
      </p>
    </div>

    <div class="col-md-6">
      <p> <%= field.text_field(:name, wrapper:{layout: :inline}) %> </p>
    </div>
    <div class="col-md-6">
      <p> <%= field.collection_select :country_id, Country.all,:id,:name %> </p>
    </div>

    <%= field.hidden_field 'referrer_uuid', :value => @user_display.referrer_uuid %>
    <div class="col-md-12">
      <%= field.submit 'save' %>
    </div>
  <% end %>

</div>
