
<div class="container" id="content">
  <div class="col-md-12">
    <div class="previous">
      <%= render 'layouts/fancy_timeline_past' %>

      <div id="referred-from">You are the <%= @user_display.total_users.ordinalize %> user to contribute, you heard from <%=@user_display.parent_name%>. See how the story has evolved so far, then add to it!</div>
    </div>
  </div>

  <%= bootstrap_form_for :user do |field| %>

    <div class="col-md-12">
      <p>
        <%= field.text_field(:tale, required: true, label: 'What happens next?', placeholder: 'This will be your contribution to the story') %>
      </p>
    </div>

    <div class="col-md-6">
      <p> <%= field.text_field(:name, required: true, placeholder: 'Who are you?') %> </p>
    </div>
    <div class="col-md-6">
      <p> <%= field.collection_select :country_id, Country.all,:id,:name %> </p>
    </div>

    <%= field.hidden_field 'parent_uuid', :value => @user_display.parent_uuid %>
    <div class="col-md-12">
      <%= field.submit 'save' %>
    </div>
  <% end %>

</div>
