<meta property="og:url" content="<%=URI.join(root_url, @user.referral_url)%>" />

<div class="container" id="content">
  <div>
    <div class="previous">
      <h1><%=@user.name%>'s Story</h1>
      <p>This is where your story begins. You are the <%=@user_display.total_users.ordinalize%> person to contribute. Bookmark this page so you don't lose it.</p>
    </div>

    <%= render 'layouts/fancy_timeline_past' %>

    <%= render 'layouts/fancy_timeline_future' %>

    <div class="shares">
      <p>To continue your unique story, share <a id="referral-url" href="<%=URI.join(root_url, @user.referral_url)%>">this link</a> and watch your story unfold.
        <span class="fb-share-button" data-href="<%=URI.join(root_url, @user.referral_url)%>" data-layout="button"></span>
        <span>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%=URI.join(root_url, @user.referral_url)%>" data-count="none" data-dnt="true">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </span>
      </p>
      <p>Come back to this page later to see how your story has evolved.</p>
      <p>Tip: Each time you refresh this page a different evolution of your story is shown.</p>
    </div>

  </div>
</div>
