<!DOCTYPE html>
<html>
  <head>
    <title>StoryHooter - Your unique tale</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" type="image/png" href="<%=image_path('favicon.ico')%>"/>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Type=text/html;charset=utf8" http-equiv="Content-Type">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <meta property="og:image"       content="<%=URI.join(root_url,image_path('story_hooter_facebook_logo.png'))%>" />
    <meta property="og:title"       content="Story Hooter" />
    <meta property="og:description" content="StoryHooter is a real-time user generated branching story inspired by games like Consequences and Mad Libs. If you've heard of it, you can add to it and create your own story!" />
    <meta property="og:type"        content="website" />
  </head>
  <body>
  <header>
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Story Hooter</div>
        <a href="/" class="btn btn-default header-button">What is this?</a>
      </div>
    </div>
  </header>

  <%= yield %>

  <footer class="footer">
    StoryHooter © <a href="mailto:hello.storyhooter@gmail.com">Chris Pomfret</a> 2015
  </footer>
</body>
</html>
